Java/2. Intermediario/12. Method references/*
Java/2. Intermediario/11. Functional interfaces <-/*
Java/2. Intermediario/10. Optional/*
Java/2. Intermediario/9. Stream API/*
Java/2. Intermediario/8. Lambdas Expression /*
Java/2. Intermediario/7. Sealed classes/*
Java/4. Springboot/*

.gitignore 

Java/1. Fundamentos/7. Packages e imports/*
Java/1. Fundamentos/8. Interfaces e classes abstratas/*
Java/1. Fundamentos/9. Programação Orientada a Objetos/*